/*
https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.2663020987289388,0.2747561336092181,0.28039215686274505,0.5308404768942754,0.7025322691889916,0.8169934640522876,0.7411764705882353,0.7647058823529411,0.7803921568627451,0.18218445167011527,0.24110907478566188,0.28039215686274505,0.5512267218445166,0.5687259828554444,0.580392156862745&swatchOrder=0,1,2,3,4
https://flatuicolors.com/
color swatch
---accent colors---
#9b59bf
#2ecc71
#e74c3c
---main colors---
#bdc3c7
#444647
#8d9194
#87B3D0
*/

body {
    background-color: #bdc3c7;
    color: #444647;
}
button{
  border-style: solid;
  border-width: 0px;
  outline: none;
}
a, a:link, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 6vw;
}

.selector-container {
    position: relative;
    height: 3.2vw;
}

.All-streams {
    text-align: center;
    width: 9%;
    left: 25%;
    margin-left: -4.5%;
    font-size: 2vw;
    position: absolute;
    background-color: #9b59bf;
    display: inline;
}

.Online-stream {
    display: none;
    text-align: center;
    width: 9%;
    margin-left: -4.5%;
    left: 50%;
    font-size: 2vw;
    position: absolute;
    background-color: #2ecc71;
    display: inline;
}

.Offline-stream {
    text-align: center;
    width: 9%;
    margin-left: -4.5%;
    left: 75%;
    font-size: 2vw;
    position: absolute;
    background-color: #e74c3c;
    display: inline;
}

.search {
    margin: 1.5% 10% 0% 10%;
    position: relative;
    color: #bdc3c7;
    font-size: 1vw;
}

.search input {
    outline: none;
    width: 100%;
    height: 2.2vw;
    text-indent: 2.2vw;
    background-color: #444647;
    border-style: solid;
    border-width: 0px;
}

.search .fa-search {
    position: absolute;
    top: 0.5vw;
    left: 0.625vw;
}

.twitch-streamers {
    margin: 3% 0%;
}

.streamer-container-online {
    /*this is to designate wither it is online or Offline*/
    position: relative;
    margin: 0% 20% 0.3% 20%;
    width: 60%;
    height: 9vw;
    display: inline-block;
    border-width: 0.625vw;
    border-style: solid;
    border-color: #2ecc71;
    background-color: #444647;
}

.streamer-container-offline {
    /*this is to designate wither it is online or Offline*/
    position: relative;
    margin: 0% 20% 0.3% 20%;
    width: 60%;
    height: 9vw;
    display: inline-block;
    border-width: 0.625vw;
    border-style: solid;
    border-color: #e74c3c;
    background-color: #444647;
}

.streamer-icon {
    position: absolute;
    left: 1%;
    top: 4%;
    height: 7vw;
    width: 7vw;
    border-color: #87B3D0;
    border-style: solid;
    border-width: 0.625vw;
    border-radius: 50%;
}

.streamer-description {
    font-size: 1vw;
    position: absolute;
    top: 50%;
    left: 14.5%;
    color: #8d9194;
}

.streamer-title {
    top: 10%;
    left: 16.5%;
    font-size: 1.8vw;
    position: absolute;
    color: #bdc3c7;
}

.my-name {
    font-size: 1vw;
    text-align: center;
}
